[TRAINER_METADATA]
python_model = BCv3_DAGGER
gym = RoboschoolHumanoid
; this is the file that will be used
; reading from "gs://relna-mlengine/data/"+expert_policy
; make sure it exsist otherwise job will fail
expert_policy = RoboschoolHumanoid-v1.pkl	
train_steps = 40000
;
; NOTES: we found out that mse doens't predict how far the little guy will go

